* {
	box-sizing: border-box;
}

html {
	position: relative;
	min-height: 100%;
}

.navbar {
	margin-bottom: 20px;
	background: #ffffff;
	border-bottom: 1px solid #cccccc;
}

.navbar h1 {
	display: inline-block;
	background: #4aaaa5;
	color: #ffffff;
	padding: 30px;
	font-size: 28px;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	margin-left: 270px;
	font-weight: bold;
}

body {
	background-image: url("../images/concrete-texture.png");
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin: 0 0 100px;
}

.container {
	width: 960px;
	margin: 0 auto;
}

ul {
	float: right;
	margin-right: 290px;
	margin-top: 40px;
}

ul li {
	display: inline-block;
	padding: 0 10px;
}

ul li a {
	text-decoration: none;
	color: #cccccc
}

#portfolio {
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}

header {
	color: #4aaaa5;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 20px;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.main-section header h2 {
	font-size: 24px;
	padding-bottom: 10px;
	font-weight: bold;
}

.julian {
	width: 40%;
	float: left;
	margin-right: 20px;
}

.main-section {
	background: #ffffff;
	border: 1px solid #dddddd;
	width: 608px;
	padding: 20px;
	display: inline-block;
}

.sidebar {
	background: #ffffff;
	border: 1px solid #dddddd;
	width: 268px;
	display: inline-block;
	float: right;
	padding: 20px;
}

.sidebar header h3 {
	font-size: 20px;
	padding-bottom: 14px;
	text-align: center;
	font-weight: bold;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100px;
	width: 100%;
	background: #666666;
	text-align: center;
	padding: 40px;
	border-top: 10px solid #4aaaa5;
}

.icons a img {
	width: 55px;
	height: 55px;
	padding: 0px;
}

.icons a{
	padding: 8px;
}

#stackoverflow {
	padding: 70px;
}

.icons {
	
}

figure {
	display: inline-block;
}

figure img {
	height: 180px;
	width: 260px;
	margin: 10px;
}

figcaption {
	position: relative;
	bottom: 80px;
	text-align: center;
	background: #4aaaa5;
	color: #ffffff;
	margin: 10px;
	padding: 15px 0;
}

.submit {
	background: #4aaaa5;
	color: #ffffff;
	border: none;
	padding: 10px 30px;
	font-size: 18px;
}

input {
	margin-top: 10px;
}

textarea {
	margin-top: 10px;
	width: 100%;
	padding: 10px;
}

input[type="text"] {
	width: 100%;
	padding: 10px;
	color: #cccccc;
}

input[type="email"] {
	width: 100%;
	padding: 10px;
	color: #cccccc;
}

@media screen and (max-width: 980px) and (min-width: 769px) {
	.navbar h1 {
	font-size: 28px;
	margin: 0 10%;
	}

	ul {
	margin-right: 10%;
	}

	.container {
	width: 100%;
	margin-bottom: 120px;
	}

	.main-section {
	width: 45%;
	display: inline-block;
	margin: 0 0 0 10%;
	}
	
	.julian {
	width: 100%;
	margin-bottom: 10px;
	}

	.sidebar {
	width: 30%;
	display: inline-block;
	float: right;
	margin: 0 10% 0 0;
	}

	.sidebar header h3 {
	text-align: left;
	}

	.icons a img {
	width: 20%;
	height: 20%;
}

	footer {
	margin-top: 20px;
	}

	figure {
	margin: 0;
	padding: 0;
	width: 100%;
	}

	figure img {
	width: 95%;
	height: 95%;
	}

	figcaption {
	width: 95%;
	}
}

@media screen and (max-width: 768px) and (min-width: 650px) {
	
	.navbar h1 {
	font-size: 28px;
	margin: 0 5%;
	}

	ul {
	margin-right: 5%;
	}

	.container {
	width: 100%;
	margin-bottom: 120px;
	}

	.main-section {
	width: 90%;
	display: block;
	margin: 0 auto;
	}

	.sidebar {
	width: 90%;
	display: block;
	float: none;
	margin: 20px auto;
	}

	.sidebar header h3 {
	text-align: left;
	}

	footer {
	margin-top: 20px;
	}

	figure {
	margin: 0;
	padding: 0;
	width: 49%;
	}

	figure img {
	width: 95%;
	height: 95%;
	}

	figcaption {
	width: 95%;
	}

}

@media screen and (max-width: 649px) {
	.navbar h1 {
	display: block;
	font-size: 28px;
	margin: 0;
	text-align: center;
	}

	ul {
	float: none;
	margin: 0 auto;
	text-align: center;
	padding: 20px;
	}

	ul li {
	padding: 0 10%;
	}

	.container {
	width: 100%;
	margin-bottom: 120px;
	}

	.main-section {
	width: 90%;
	display: block;
	margin: 0 auto;
	}

	.sidebar {
	width: 90%;
	display: block;
	float: none;
	margin: 20px auto;
	}

	.sidebar header h3 {
	text-align: left;
	}

	footer {
	margin-top: 20px;
	}

	figure {
		display: block;
		margin: 0 auto;
	}

	figure img {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	}

	figcaption {
	margin: 0px;
	}
}